@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.poppins-black {
    font-family: "Poppins", sans-serif;
}
.raleway {
    font-family: "Raleway", sans-serif;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.main-color-nohover{
    color: #048053;
}

.main-color {
    color: #048053;
}

.main-color:hover {
    color: #03422b;
}

.main-color-active {
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 2px solid #048053;
    border-bottom-width: px;
}
.main-bgcolor {
    background-color: #048053;
}
.main-bgcolor:hover {
    background-color: #03422b;
    /* color: white; */
}

.main2-bgcolor{
    background-color: #FABD15;
}

.black-outline{
    border: 1px solid black;
}

.main2-bgcolor:hover{
    background-color: #8f6c0c;
}

.text-main-color {
    color: #f25f34;
}
.bg-main-color {
    background-color: #f25f34;
}
.bg-main-color:hover {
    background-color: #8b3115;
}
.white-outline{
    border: 1px solid white;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.guide {
    color: #f25f34;
}

.guideText {
    color: #048053;
    background-color: #dcf1ea;
}

.textHeading {
    color: #048053;
}

.box {
    background-color: #f6f2e4;
    border-radius: 10px;
}

.box_ {
    border-radius: 10px;
}

.hubBox {
    background-color: #f6f6f6;
    border-radius: 20px;
}

.verifiedStyle {
    width: 30px;
    height: 30px;
}

.cropStyle {
    height: 70%;
    width: 70%;
}

.type-circle {
    list-style-type: disc 
}